* {
    font-family: Arial, Helvetica, sans-serif;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
}

h1 {
    margin-bottom: 30px;
}


button {
    background-color: azure;
    border-radius: 5px;
    padding: 10px 20px;
}